asgiref==3.5.0
cachelib==0.6.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.0.4
cs50==9.0.0
Django==4.0.3
Flask==2.0.3
Flask-Session==0.4.0
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.0
markdown2==2.4.2
MarkupSafe==2.1.1
requests==2.27.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
termcolor==1.1.0
urllib3==1.26.9
Werkzeug==2.0.3
