{% extends "layout.html" %}

{% block title %}
    Buy Stock
{% endblock %}

{% block main %}
    <h1>Choose which stock to purchase</h1>
    <hr>
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Amount of shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Purchase</button>
    </form>
    <hr>
    <h2>Add cash to account?</h2>
    <form action="/addcash" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="cash" placeholder="Amount of cash" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add cash</button>
    </form>
{% endblock %}