{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="container">
    <form action="/historysort" method="post">
        <div class="form-group">
            <select class="form-control" name="choice" placeholder="Sort By" onchange="choice.form.submit()">
                <option value="date" disabled>Sort By</option>
                <option value="time">Time</option>
                <option value="name">Name</option>
                <option value="value">Value</option>
            </select>
        </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Stock</th>
                <th>Number of shares</th>
                <th>Price</th>
                <th>Bought or Sold?</th>
                <th>Time of transaction</th>
            </tr>
        </thead>
        <tbody> <!-- Loop through the database entries to display them in this table -->
        {% for stock in purchasehistory %}
                <tr>
                    <td> {{ stock.stock }} </td>
                    <td> {{ stock.shares  }} </td>
                    <td> {{ stock.price | usd }} </td>
                    <td> {{ stock.type }} </td>
                    <td> {{ stock.time }} </td>
                </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}