{% extends "layout.html" %}

{% block title %}
    Sell Stock
{% endblock %}

{% block main %}
    <h1>Choose which stock to sell</h1>
    <hr>
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol" placeholder="Stock Symbol">
            {% for stock in stockowned %}
                    <option value="{{ stock.stock }}">{{ stock.stock }} </option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="shares" placeholder="Amount of shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}